tqdm
langchain
langchain-community
langchain-openai
openai
streamlit
pandas
numpy
matplotlib
seaborn
wordcloud
konlpy
spacy
unstructured
pypdf
python-dotenv
pillow
faiss-cpu
chromadb
unstructured[pdf]
arxiv
chroma
langchain-chroma
langchain-huggingface
peft
datasets
wandb